/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #3498db; /* Définir la couleur primaire */
    --secondary-color: #2ecc71; /* Définir la couleur secondaire */
    --accent-color: rgba(132, 139, 206, 0.174);
}